<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /modul/sistem-barang/

    RewriteCond %{REQUEST_URI} !^/modul/sistem-barang/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>
